<!-- <section>
  <div class="page-header">
    <h1 ng-bind="customerCtrl.CustomersService.created | date:'mediumDate'"></h1>
  </div>
  <div class="pull-right">
       <!-- ng-show="customerCtrl.customer.isCurrentUserOwner"> -->
    <!-- <a class="btn btn-primary"
       ui-sref="customers.edit({ customerId: customerCtrl.customer._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="customerCtrl.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
        <span ng-bind="customerCtrl.CustomersService.created | date:'mediumDate'"></span>
      by
      <span ng-if="customerCtrl.CustomersService.user" ng-bind="customerCtrl.CustomersService.user.displayName"></span>
      <span ng-if="!customerCtrl.CustomersService.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="customerCtrl.user.content"></p>
</section>  -->
